[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Whispering
Comment=Whispering
Icon=utilities-terminal
Exec=${START_SCRIPT_TARGET_PATH}
Categories=Utility;
StartupNotify=true
Path=${HOME}
