# n8n environment – edit before first launch!

DOMAIN_NAME=example.com
SUBDOMAIN=n8n
N8N_PORT=5678
N8N_PROTOCOL=https
WEBHOOK_URL=https://${SUBDOMAIN}.${DOMAIN_NAME}/
GENERIC_TIMEZONE=Europe/Berlin
SSL_EMAIL=user@example.com
N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
