# Opencode Server Environment Variables
# This file contains sensitive credentials - keep it secure!
OPENCODE_SERVER_USERNAME=${OPENCODE_SERVER_USERNAME}
OPENCODE_SERVER_PASSWORD=${OPENCODE_SERVER_PASSWORD}
